= form_with url: resume_employer_path([@employer.resume, @employer]), model: @employer, class: "form" do |form|
  .form__field
    = form.label :name
    = form.text_field :name
  .form_actions
    = form.submit "Update"
