@import 'variables';

.employer {
  margin: 0 0 1rem 0;

  &__actions {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    form {
      display: inline;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .employer > * {
    display: inline-block;
  }

  .employer__info + .employer__info {
    &::before {
      content: ' — ';
    }
  }
}
