@import 'variables';

.employer {
  margin: 0 0 1rem 0;

  &__info {
    display: inline-block;

    &:first {
      font-weight: 600;
    }
  }

  &__actions {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    form {
      display: inline;
    }
  }
}

.employer__info + .employer__info {
  &::before {
    content: " \00B7 ";
  }
}
