@import "variables";

.form {
  display: block;
  // max-width: 32rem;

  margin: 0 auto 1rem auto;
  border: $line-width solid $primary-color;
  border-radius: 0.5rem;
  background-color: $paper-color;
  padding: 1rem;

  &__field {
    margin-bottom: 1rem;

    label {
      display: block;
    }

    input[type=text], input[type=email], input[type=password] {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 12rem;
    }
  }

  &__actions {
    text-align: right;
  }
}

.form__fieldset {
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  .form__field {
    textarea {
      height: 5rem !important;
    }
  }
}
