@import "variables";

.messaging {
  &__message {
    background-color: $primary-color;
    color: $paper-color;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }
}
