@import 'variables';

.navbar {
  border-bottom: 1pt solid $primary-color;
  margin-bottom: 1rem;

  &__title {
    width: fit-content;
    margin: 0 auto;
    padding-top: 1rem;
    line-height: 4rem;
    font-weight: 400;
    letter-spacing: 0.15em;
  }

  &__contact-info-list {
    display: flex;
    justify-content: space-around;
  }

  &__contact-info-list-item {
    flex: 0 1;
    margin-bottom: 0.5rem;
  }
}

a.navbar__title-link {
  display: block;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }
}
