@import 'variables';

.navbar {
  border-bottom: $line-width solid $primary-color;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar__title {
  flex: 1 1;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 0.15em;
}

a.navbar__title-link {
  display: block;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }
}

.navbar__tagline {
  font-size: 1rem;
}

ul.navbar__menu {
  flex: 1 1;
  margin: 1rem 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

li.navbar__menu-item {
  display: inline-block;
  align-items: center;

  a {
    display: inline-block;
    padding: 0.25rem 1rem;
    border: $line-width solid transparent;
    border-radius: 0.25rem;
    font-weight: 600;
    color: $primary-color;
  }
}
