@import 'variables';

.spread {
  background: $primary-color;
  min-height: 100vh;
  margin: 0;
  padding: 0 1rem;
}

.page {
  position: relative;
  margin: 0 auto;
  border: 1px solid $paper-color;
  min-height: 100vh;
  max-width: $page-width;
  background-color: $paper-color;
  padding: 0 1rem;
}

.turbo-progress-bar {
  height: 2pt;
  background-color: $primary-color;
}

@media (min-width: $desktop-breakpoint) {
  .page {
    padding: 0 2rem;
  }
}
