@import 'variables';

.resume {
  margin: 1rem 0;

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    h2, h3.subheader {
      margin: 0;
    }
  }

  &__preferred-pronouns {
    position: absolute;
    right: 0;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: $softened-text;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    position: relative;
    top: -0.5rem;
  }

  &__contact-info-item {
    flex: 0 1 fit-content;
  }

  &__section {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    font-weight: 600;
    color: $softened-text;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  &__actions {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    &:first-child {
      margin-top: 0;
    }

    form {
      display: inline;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .resume {
    &__contact-info {
      flex-direction: row;
      justify-content: space-around;
    }

    &__section {
      flex-direction: row;
      gap: 1rem;
    }

    &__section-title {
      flex: 0 0 15rem;
    }

    &__section-content {
      flex: 1 1 45rem;
    }
  }
}
