@import 'variables';

.role {
  margin: 0.25rem 0 0.25rem 1rem;

  &__info-line {
    font-style: italic;
  }

  &__info {
    display: inline-block;

    &:first-child {
      font-weight: 600;
    }
  }
}

.role__info + .role__info {
  &::before {
    content: " \00B7 ";
  }
}
