@import 'variables';

.school {
  margin: 0 0 1rem 0;

  &__info-line {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;

      .school__info + .school__info {
        &::before {
          content: " \00B7 ";
        }
      }
    }
  }

  &__info {
    display: inline-block;
  }

  &__actions {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    form {
      display: inline;
    }
  }
}
