- classes = bem("form", nil, "resume-profile")
= form_with model: resume || Resume.new, class: classes do |form|
  .form__field
    = form.label :summary
    = form.text_area :summary
  .form__actions
    = form.submit 'Save', class: 'button'
