= turbo_frame_tag @resume do
  .resume
    .resume__header
      %h2
        = I18n.t('resumes.edit.header')
    = render partial: 'overview_form', locals: { resume: @resume }
    - if @resume.persisted?
      = render partial: "employers"
