= turbo_frame_tag @resume do
  .resume
    .resume__header
      %h2
        = I18n.t('resumes.new.header')
    .resume__section
      .resume__section-title
        = I18n.t('resume.overview')
      .resume__section-content
        = render partial: 'overview_form', locals: { resume: @resume }
