.footer
  .footer__line
    = I18n.t("footer.source_code_label")
    - github_project_url = "https://github.com/roberthead/colleague"
    = link_to(github_project_url, github_project_url, target: "github")
