.navbar
  %h1.navbar__title
    %a.navbar__title-link{ href: root_path }
      Colleagues
  %ul.navbar__menu
    %li.navbar__menu-item
      = link_to(I18n.t('activerecord.models.resume').pluralize, resumes_path, class: bem('button', nil, 'clear'))
    - if signed_in?
      %li.navbar__menu-item
        = button_to I18n.t("application.sign_out"), destroy_user_session_path, method: :delete, class: 'button'
    - else
      %li.navbar__menu-item
        = link_to I18n.t('application.sign_in'), new_user_session_path, class: 'button'
