.navbar
  %h1.navbar__title
    %a.navbar__title-link{ href: root_path }
      Robert Emerson Head
  %ul.navbar__contact-info-list
    %li.navbar__contact-info-list-item
      - classes = bem('navbar', 'contact-info-list-item-link', 'github')
      = link_to('github.com/roberthead', 'https://github.com/roberthead', target: 'github', class: classes)
    %li.navbar__contact-info-list-item
      - classes = bem('navbar', 'contact-info-list-item-link', 'email')
      = link_to('robert.head@gmail.com', 'mailto:robert.head@gmail.com', target: 'email', class: classes)
